/* ---- [ layout/_blogPosts.scss ] ----*/

article.blogPost {
  display: grid;
  place-items: center;
  gap: 2rem;

  header {
    display: flex;
    gap: 2rem;
  }

  h2 {
    font-size: 2rem;
  }

  p {
    color: $text-color;
  }

  img,
  video,
  audio {
    max-width: 100%;
    max-height: 50svh;
  }

  img.big-img {
    max-height: 75svh;
  }
}
