@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Proza+Libre:wght@600&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
}

nav {
  background: #121818;
  height: 80px;
  width: 100%;
}

div.name {
  text-transform: uppercase;
  font-family: 'Proza Libre', sans-serif;
}

br.nav {
  position: absolute;
  padding-top: -10px;
}

div.name {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

label.name {
  padding: 20px;
  color: #fff;
  font-size: 15px;
  font-weight: bolder;
}

nav ul li {
  display: inline-flex;
  float: right;
}

ul li a {
  text-transform: uppercase;
  color:#fff;
}

div.nav-links {
  position: absolute;
  padding: -20px;
  display: inline-block;
}

.menu-btn {
  float: right;
  padding: -20px 20px;
}