@use '../_variables' as *;
@use '../_animations' as *;

section#timeline {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeline_content {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $orange;
}
