// Import main styles
@import '../main';

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root {
  --blue-clr: #324eed;
  --light-blue-clr: #5971ee;
  --dark-gray-clr: #0d0d0d;
  --gray-clr: #1c1c1c;
  --light-gray-clr: #444444;
  --white-clr: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
}

body {
  background-color: var(--dark-gray-clr);
  color: var(--white-clr);
  display: grid;
  place-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  width: 90%;
  gap: 2rem;
}

a {
  color: var(--blue-clr);
  font-size: 1rem;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: var(--gray-clr);
  border-radius: 0 0 1rem 1rem;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}

header {
  display: grid;
  place-items: center;
  text-align: left;
  background-color: var(--blue-clr);
  border-radius: 1rem;
  min-width: 200px;
  width: 90vw;
  max-width: 580px;
  padding: 2rem;
  display: grid;
  gap: 1.5rem;
}

header span.slogan {
  font-style: italic;
  color: var(--white-clr);
}

main {
  display: grid;
  place-items: center;
  gap: 2rem;
  width: 100%;
}

main > ul {
  display: grid;
  gap: 4px;
}

main > ul > li:first-child {
  border-radius: 1rem 1rem 0 0;
}

main > ul > li {
  background-color: var(--gray-clr);
  min-width: 200px;
  width: 90vw;
  max-width: 580px;
  min-height: 5rem;
  display: flex;
  align-items: center;
  padding: 1.5rem;
  justify-content: space-between;
}

main > ul > li:last-child {
  border-radius: 0 0 1rem 1rem;
}

main > ul > li > div.episodeContent {
  display: flex;
  gap: 1rem;
}

main > ul > li > div.episodeContent > img.episodeCover {
  width: 55px;
  height: 55px;
  border-radius: 0.75rem;
  background-color: var(--light-gray-clr);
  padding: 0.25rem;
  display: none;
}

main > ul > li > div.episodeContent > div.episodeInfo {
  display: grid;
  gap: 0.5rem;
}

main > ul > li > div.episodeContent > div.episodeInfo > div.episode {
  display: flex;
  gap: 1rem;
  align-items: center;
}

main > ul > li > div.episodeContent > div.episodeInfo > h4.title {
  font-size: 1rem;
  max-width: 260px;
}

main > ul > li > div.episodeContent > div.episodeInfo > div.episode > span {
  font-size: 1.5rem;
}

main
  > ul
  > li
  > div.episodeContent
  > div.episodeInfo
  > div.episode
  > div.people {
  display: flex;
  flex-direction: column;
}

main > ul > li > div.episodeContent > div.episodeInfo > div.episode,
main
  > ul
  > li
  > div.episodeContent
  > div.episodeInfo
  > div.episode
  > div.people
  > a {
  color: var(--light-gray-clr);
}

main
  > ul
  > li
  > div.episodeContent
  > div.episodeInfo
  > div.episode
  > div.people
  > a:hover {
  color: var(--blue-clr);
}

main > ul > li > div.play {
  display: grid;
  place-items: center;
  gap: 0.5rem;
  width: 70px;
}

main > ul > li > div.play > div.playIcon {
  width: 30px;
  height: 30px;
  background: url('../assets/podcast/images/play-icon.svg') no-repeat center
    center; // Change out to fontawesome icon in the html instead
  background-size: contain;
  cursor: pointer;
  background-color: var(--blue-clr);
  border-radius: 0.5rem;
}

main > ul > li > div.play > div.playIcon.playing {
  background: url('../assets/podcast/images/pause-icon.svg') no-repeat center
    center; // Change out to fontawesome icon in the html instead
  background-size: contain;
  background-color: var(--blue-clr);
  border-radius: 0.5rem;
}

main > ul > li > div.play > audio {
  display: none;
}

@media only screen and (min-width: 520px) {
  main > ul > li > div.episodeContent > img.episodeCover {
    display: flex;
  }
}
