// Import main styles
@import '../main';

:root {
  /* Main colors */
  --accent-clr: #007bff;
  --secondary-clr: #2b2b34;
  --stats-clr: #8c6d8b;
  --light-clr: #6e6e6e;
  --background-img: url('https://static.pontushenriksson.com/image/background/dottedSpace.png');
  --text-clr: #fff;

  /* Status colors */
  --online: #80f749;
  --offline: #f74949;

  /* Link colors */
  --mail-clr: #6c49fc; /* Proton mail brand */
  --portfolio-clr: #4575e6; /* Accent */
  --blog-clr: #ff6f61; /* Accent */
  --games-clr: #ffffff; /* Accent */ /* THIS IS NOT THE BRAND COLOR, UPDATE THIS LATER. */
  --linkedin-clr: #0a66c2; /* Brand */
  --github-clr: #0d1117; /* Brand */
  --figma-clr: #a259ff; /* Brand */
  --youtube-clr: #ff0000; /* Brand */
  --instagram-clr: #fa00bf; /* Brand */
  --facebook-clr: #0077f6; /* Brand */
  --studypal-clr: #ffffff; /* Brand */ /* THIS IS NOT THE BRAND COLOR, UPDATE THIS LATER. */
  --zippiux-clr: #ff753c; /* Brand */
  --totemstudios-clr: #0a5580; /* Brand */
  --dropletstore-clr: #4d91d4; /* Brand */
  --vernfm-clr: #4462ec; /* Brand */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:hover {
  transition: 0.3s;
}

img,
video {
  max-width: 100%;
  max-height: 100svh;
}

a {
  text-decoration: none;
  color: var(--text-clr);
}

body {
  font-family: 'Nunito', sans-serif;
  background-image: var(--background-img);
  background-repeat: repeat;
  background-position: center center;
  background-size: cover;
  color: var(--text-clr);
  display: grid;
  place-items: center;
  background-size: contain;
}

main {
  display: grid;
  place-items: center;
  padding: 4rem 2rem;
  max-width: 800px;
  text-align: center;
  gap: 4rem;
}

main header {
  display: grid;
  gap: 1rem;
  place-items: center;
}

main header img {
  width: 8rem;
  height: 8rem;
  border-radius: 2rem;
}

main header p {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

main header p:nth-child(4) {
  padding: 0.5rem 1rem;
  background-color: var(--stats-clr);
  border-radius: 4rem;
  /*
  height: 3rem;
  width: 19rem;
  gap: 1.5rem;
  border-radius: 2rem;
  */
}

main header p .statsIcon {
  font-size: 1.5rem;
}

main ul {
  list-style: none;
  display: grid;
  gap: 2rem;
  display: grid;
  place-items: center;
}

main ul li a.btn {
  display: flex;
  background-color: var(--secondary-clr);
  height: 3rem;
  width: 19rem;
  gap: 1.5rem;
  border-radius: 2rem;
  align-items: center;
  padding-left: 1.5rem;
  position: relative;
}

main ul li a.btn:hover {
  outline: 2px solid var(--text-clr);
}

/* Link colors */
main ul li a.btn.mail:hover {
  background-color: var(--mail-clr);
}

main ul li a.btn.portfolio:hover {
  background-color: var(--portfolio-clr);
}

main ul li a.btn.blog:hover {
  background-color: var(--blog-clr);
}

main ul li a.btn.games:hover {
  background-color: var(--games-clr);
}

main ul li a.btn.linkedin:hover {
  background-color: var(--linkedin-clr);
}

main ul li a.btn.github:hover {
  background-color: var(--github-clr);
}

main ul li a.btn.figma:hover {
  background-color: var(--figma-clr);
}

main ul li a.btn.youtube:hover {
  background-color: var(--youtube-clr);
}

main ul li a.btn.instagram:hover {
  background-color: var(--instagram-clr);
}

main ul li a.btn.facebook:hover {
  background-color: var(--facebook-clr);
}

main ul li a.btn.studypal:hover {
  background-color: var(--studypal-clr);
}

main ul li a.btn.zippiux:hover {
  background-color: var(--zippiux-clr);
}

main ul li a.btn.totemstudios:hover {
  background-color: var(--totemstudios-clr);
}

main ul li a.btn.dropletstore:hover {
  background-color: var(--dropletstore-clr);
}

main ul li a.btn.vernfm:hover {
  background-color: var(--vernfm-clr);
}

/* Link colors */

main li.spotifyCard {
  display: grid;
  gap: 1rem;
}

main li.spotifyCard span {
  color: var(--light-clr);
}

a.btn::after {
  content: '•';
  position: absolute;
  font-size: 1.5rem;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

a.btn.offline::after {
  color: var(--offline);
}

a.btn.online::after {
  color: var(--online);
}

footer {
  margin-bottom: 2rem;
}

footer a {
  color: var(--accent-clr);
}
