/* Importing Work Sans from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Importing Philosopher from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// Fonts
$work-sans-font: 'Work Sans', sans-serif;
$philosopher-font: 'Philosopher', sans-serif;

// Colors
$dark-blue: rgb(6, 13, 27);
$dark-blue-secondary: rgb(12, 19, 33);
$purple: rgb(69, 117, 230);
$white: rgb(255, 255, 255);
$orange: rgb(224, 122, 95);

// Skill icon colors
$js-color: rgb(239, 216, 29);
$java-color: rgb(255, 255, 255);
$html-color: rgb(221, 75, 37);
$css-color: rgb(45, 83, 229);
$sass-scss-color: rgb(198, 99, 148);
$php-color: rgb(79, 93, 149);
$c-cpp-color: rgb(98, 149, 203);
$figma-color: rgb(10, 201, 127);
$python-color: rgb(43, 91, 131);
$git-github-color: rgb(233, 78, 49);

// Timeline styles
