/* ----- [ astro-fetch/_variables.scss ] ----- */

/* Variables */
$primary-clr: #1a1a1a;
$secondary-clr: #3c342c;
$accent-clr: #ffb79c;
$secondary-accent-clr: #9cb6ff;
$text-primary-clr: #fff;

/* Font face */
@font-face {
  font-family: 'MerriweatherSans';
  src: url('../../../dist/assets/fonts/MerriweatherSans-Medium.ttf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
}
