// Reset default styles
@import '../resets';

// All variables, mixins and functions
@import 'variables';

// All navbar styles
@import 'navbar';

// All footer styles
@import 'footer';

/* ----- [ astro-fetch/astro-fetch.scss ] ----- */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $secondary-accent-clr;
}

a {
  color: $text-primary-clr;
  text-decoration: none;

  &:hover {
    color: lighten($accent-clr, 10%);
    transition: 0.3s;
  }
}

a.btn {
  padding: 1rem 2rem;
  background-color: $accent-clr;
  border-radius: 2rem;
  color: $primary-clr;

  &:hover {
    background-color: darken($accent-clr, 10%);
    transition: 0.3s;
  }
}

body {
  background-color: $primary-clr;
  color: $text-primary-clr;
  font-family: 'MerriweatherSans', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  padding: 4rem 0;

  div.returnToAllGames {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }

  div.intro {
    margin-top: 8rem;
  }

  div.downloadSection {
    display: grid;
    place-items: center;
    gap: 1rem;

    div.downloadButtons {
      display: flex;
      margin-top: 1rem;
      gap: 1rem;
    }
  }

  div.changelog {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h3 {
      margin-bottom: 1rem;
    }

    div.changelogLinks {
      display: flex;
      gap: 1rem;
    }
  }
}
