// Update this later for a global color pallette

$primary-clr: transparent;
$secondary-clr: transparent;
$accent-clr: transparent;
$info-clr: transparent;
$warning-clr: transparent;
$error-clr: transparent;
