@use '../_variables' as *;
@use '../_animations' as *;

section#about {
  margin-top: 60px;
  padding: 60px 0px;
  text-align: center;
  background-color: $dark-blue-secondary;
}

.about_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  color: $white;
}

.long-about {
  display: none;
  width: 80vw;
}

.short-about {
  width: 80vw;
}

Button.aboutButton {
  background-color: $orange;
  color: $white;
}

Button.aboutButton:hover {
  color: $orange;
  background-color: $white;
}
