@use '../_variables' as *;
@use '../_animations' as *;

section#skills {
  background-color: $purple;
}

.skillsHeader {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 100%;

  h2 {
    color: $white;
  }

  p {
    font-weight: 500;
  }
}

.skillsGroup {
  display: flex;
  margin-top: 70px;
  padding-bottom: 70px;
  justify-content: space-around;
  gap: 20px;

  .firstSkillGroup {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
  }

  .secondSkillGroup {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
  }
}

.skillIconGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  .skillIcon {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-right: 5px;
    display: grid;
    place-items: center;
    color: $dark-blue;
  }

  .jsSkillIcon {
    background-color: $js-color;
  }

  .javaSkillIcon {
    background-color: $java-color;
    font-weight: 700;
  }

  .htmlSkillIcon {
    background-color: $html-color;
  }

  .cssSkillIcon {
    background-color: $css-color;
  }

  .sass-scssSkillIcon {
    background-color: $sass-scss-color;
  }

  .phpSkillIcon {
    background-color: $php-color;
  }

  .c-cppSkillIcon {
    background-color: $c-cpp-color;
  }

  .figmaSkillIcon {
    background-color: $figma-color;
  }

  .pythonSkillIcon {
    background-color: $python-color;
  }

  .git-githubSkillIcon {
    background-color: $git-github-color;
  }
}

@media screen and (min-width: 900px) {
  .skillsGroup {
    flex-direction: column;
    justify-content: center;
    align-items: center; // To vertically center if there's extra vertical space
  }

  .firstSkillGroup,
  .secondSkillGroup {
    flex-direction: row !important;
    gap: 20px; // Adjust this to create spacing between individual icons
  }

  .skillsHeader {
    max-width: 70%;
  }
}
