/* ---- [ layout/_mainContent.scss ] ----*/

@import '../variables';

main {
  background-color: $primary-color;
  color: $accent-color;
  width: 100%;
  text-align: center;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
