/* ---- [ layout/_responsiveness.scss ] ----*/

@import '../variables';

@media screen and (min-width: $tablet-width) {
  div.container > header {
    flex-direction: row;
    height: 80px;
    justify-content: space-between;
    align-items: center;
  }

  nav ul {
    flex-direction: row !important;
    margin-top: 0 !important;
    gap: 1rem;
    justify-content: space-between; // Align navigation to the end
  }

  nav ul li {
    margin: 0; // Reset margin for desktop view
  }

  nav ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    height: auto;
    width: auto;
  }
}

/* OTHER SIZES */

@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
}
@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}
@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}
@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}
