/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* All global variables, mixins and functions */
/* Insert here */

/* Loading animation */
@import 'loadingAnimation';
