/* ---- [ components/_buttons.scss ] ----*/

@import '../variables';

.btn {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  color: #fff;
  background-color: $primary-color;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;

  &:hover {
    background-color: darken($primary-color, 10%);
    transition: $regular-transition;
  }
}

.btn-primary {
  background-color: $primary-color;
}

.btn-secondary {
  background-color: $accent-color;
}
